doctype html
html
    head
        title My Demo Pug
    body
        h1 Hello Pug2
        p.content
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam repellat alias rem earum nesciunt unde nemo enim nostrum ipsa incidunt non similique, deserunt ducimus consequuntur molestias in porro expedita amet.
            a(href="google.com.tw") Here is Google
        ul
            li
                a Item 1
            li
                a Item 2
            li
                a Item 3

