extends templates/home.pug

//- PAGE SPECIFIC HEAD SECTION
block meta
	title Modals

//- PAGE SPECIFIC CONTENT SECTION
block content

	.container-main.container
		.row
			.col.s6
				a(href="./") Go back
		.row
			.col.s6
				h4 Login Modal
				ul.list-spacious
					li
						a.waves-effect.waves-light.btn.modal-trigger(href="#modalSignIn") Open Login Modal
					li
						a.waves-effect.waves-light.btn.modal-trigger(href="#modalForgotPassword") Open Forgot Password Modal