.page.chat-detail.active {
    transform: translate(0, 0);
}

.page.chat-detail {
    position: fixed;
    top: 0;
    transition: transform 0.5s;
    transform: translate(100%, 0);
    width: 100%;
    height: 100%;
    z-index: 100;

    $headerHeight: 50px;
    $inputBarHeight: 60px;
    $attachmentBarHeight: 140px;
    header {
        @include clearfix();
        &::after {
            height: 0;
        }
        > * {
            display: inline-block;
            float: left;
            vertical-align: middle
        }
        height: $headerHeight;
        line-height: $headerHeight;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 100;
        background-color: white;

        .fa {
            text-align: center;
            line-height: $headerHeight;
            width: $headerHeight;
            height: $headerHeight;
            color: #FE4C0F;
            cursor: pointer;
        }
        h1 {
            padding: 0;
            margin: 0;
            width: calc(100% - #{$headerHeight} - #{$headerHeight});
            font-size: 18px;
            font-weight: normal;
            text-align: center;
        }
    }

    $hGap: 8px;
    .content {
        * {
            // border: 1px solid darkred;
        }
        margin-top: $headerHeight;
        padding-bottom: $inputBarHeight + 180px;
        height: 100%;
        background: #F5F7F9;
        overflow-x: hidden;
        overflow-y: auto;
        box-sizing: border-box;

        ul > li {
            > * {
                display: inline-block;
                vertical-align: middle;
            }
            list-style-type: none;
            margin: 25px 25px;
            background: transparent;
            position: relative;

            p {
                font-size: 14px;
                font-weight: lighter;
                line-height: 1.3;
                letter-spacing: 0.5px;
                overflow-wrap: break-word;

                width: calc(100% - 25px);
                box-sizing: border-box;
            }

            .avatar {
                position: absolute;
                z-index: 20;
                width: 50px;
                height: 50px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &.self {
                p {
                    margin-right: 25px;
                    background-color: #2096F3;
                    padding: 16px 20+25px 16px 20px;
                    color: #F7FCFF;
                }
                .avatar {
                    right: 0;
                    bottom: 0;
                }
            }

            &.other {
                p {
                    margin-left: 25px;
                    background-color: white;
                    padding: 16px 20px 16px 20+25px;
                    color: #969999;
                }
                .avatar {
                    top: 0;
                    left: 0;
                }
            }
        }

        .time {
            text-align: center;
            color: #C6C7C8;
            letter-spacing: 0.5px;
            font-size: 16px;
            font-weight: lighter;
        }
    }

    .inputBar.active {
        transform: translate(0, -#{$attachmentBarHeight});
    }

    .inputBar {
        position: fixed;
        bottom: 0;
        height: $inputBarHeight;
        width: 100vw;
        background-color: white;
        z-index: 100;
        line-height: 1;

        transition: transform 0.5s;
        transform: translate(0, 0);

        input[type=text] {
            height: $inputBarHeight;
            width: calc(100% - #{$inputBarHeight});
            border: 0;
            box-sizing: border-box;
            vertical-align: middle;
            line-height: $inputBarHeight;
            padding: 0 70px 0 30px;
            font-size: 14px;
            letter-spacing: 0.8px;
            color: #000000;
            &:focus {
                outline: none;
            }
        }
        .fa {
            display: inline-block;
            width: $inputBarHeight;
            height: $inputBarHeight;
            line-height: $inputBarHeight;
            vertical-align: middle;
            font-size: 30px;
            text-align: center;
            cursor: pointer;
        }
        .fa-paperclip {
            color: #FE4D0A;
            margin-left: -$inputBarHeight;
        }
        .fa-paper-plane {
            font-size: 25px;
            color: white;
            background-color: #FE4D0A;
        }
    }

    .attachmentBar.active {
        transform: translate(0, 0);
        &::before {
            content: '';
            display: block;
            width: 0px;
            height: 0px;
            position: fixed;
            right: $inputBarHeight + 20px;
            bottom: $attachmentBarHeight - 1px;
            z-index: 2000;
            border-top: 8px solid transparent;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #222627;
        }
    }

    .attachmentBar {
        transition: transform 0.5s;
        transform: translate(0, #{$attachmentBarHeight});

        position: fixed;
        bottom: 0;
        height: $attachmentBarHeight;
        background-color: #222627;
        color: white;
        z-index: 150;
        width: 100vw;

        ul {
            padding-left: 16px;
            padding-right: 16px;
            width: auto;
            white-space:nowrap;
            overflow:auto;
            position: relative;

            i.fa-camera {
                background-color: #FE5721;
            }
            i.fa-picture-o {
                background-color: #FF9700;
            }
            i.fa-file-text {
                background-color: #966CFA;
            }
            i.fa-user {
                background-color: #2096F2;
            }

            &:hover {
                i {
                    background-color: #888888;
                }
                .attachType:hover {
                    transform: scale(1.15);

                    i.fa-camera {
                        background-color: #FE5721;
                    }
                    i.fa-picture-o {
                        background-color: #FF9700;
                    }
                    i.fa-file-text {
                        background-color: #966CFA;
                    }
                    i.fa-user {
                        background-color: #2096F2;
                    }
                }
            }

            > li {
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
                font-weight: lighter;
                text-align: center;
                cursor: pointer;

                .attachType {
                    transition: transform 0.3s;
                    padding: 25px 16px;
                    $iconHeight: 70px;

                    i {
                        display: inline-block;
                        width: $iconHeight;
                        height: $iconHeight;
                        font-size: 30px;
                        line-height: $iconHeight;
                        border-radius: 50%;
                        cursor: pointer;
                    }

                    span {
                        display: block;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

}

