.row
	form.col.s12
		h4 Disabled Form
		.row
			.input-field.col.s12
				input#disabled.validate(disabled='', value='I am not editable', type='text')
				|  
				label(for='disabled') Disabled
		.row
			.col.s12
				a.waves-effect.waves-light.btn(disabled='') Reset Password