//- home.pug

doctype html
html
	head
		//- DEFAULT META
		include ../includes/home-meta.pug

		//- PAGE SPECIFIC META
		block meta
		
		//- DEFAULT CSS
		include ../includes/home-styles.pug
		
		//- PAGE SPECIFIC CSS
		block styles
	body
		//- MAIN NAVIGATION
		include ../includes/nav-main.pug

		//- PAGE CONTENT
		block content

		//- PAGE FOOTER
		block footer
			include ../includes/footer.pug

		include ../includes/modal-signin.pug
		include ../includes/modal-forgot-password.pug

		//- DEFAULT SCRIPTS
		include ../includes/home-scripts.pug

		//- PAGE SPECIFIC SCRIPTS
		block scripts